.topnav {
    display: flex;
    flex-direction: row;
    background-color: #00ADFF;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #0080BD;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #00ADFF;
  }
  
  footer{
    background-color: #00ADFF;
  }
  img{
    width: 45px;
  }
  button {
    border: 2px; 
    width: 140px; 
    height: 25px;
    color: white; 
    border-radius: 25px; 
    border-color: black;
    background-image: linear-gradient(to right, #88D9FF 0%, #00ADFF 100%); 
    font-size: 14px;
    border-bottom-style: solid;
  }
  body{
    background-color: #ffffff;
  } 
  .logos{
    width: 20%;
  }


/*   menu desplegable */
  .topnav li {
    right: 20%;
    list-style: none;
    margin-right: 2%;
  }
  .topnav li a {
    background-color:#00699B;
    color:#fff;
    text-decoration:none;
    display:block;
  }

  .topnav li a:hover {
    background-color:#00415F;
  }

  .topnav li ul {
    display:none;
    position:absolute;
    top: 11.5%;
  }

  .topnav li:hover > ul {
    display:block;
  }

  .topnav li ul li {
    position:relative;
  }

  .topnav li ul li ul {
    top:0px;
  }
  