.topnav {
    display: flex;
    flex-direction: row;
    background-color: #00ADFF;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: $font-stack;
    font-size: 14px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #0080BD;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #00ADFF;
  }
  
  footer{
    background-color: #00ADFF;
    color: #000000;
    font-size: 16px;
    font-family: $font-stack;
  }
  img{
    width: 45px;
  }
 
  body{
    background-color: #ffffff;
  } 
  .logos{
    width: 20%;
  }


/*   menu desplegable */
  .topnav li {
    right: 20%;
    list-style: none;
    margin-right: 0.5%;
  }
  .topnav li a {
    background-color:#00699B;
    color:#fff;
    text-decoration:none;
    display:block;
  }

  .topnav li a:hover {
    background-color:#00415F;
  }

  .topnav li ul {
    display:none;
    position:absolute;
    top: 9.5%;
  }

  .topnav li:hover > ul {
    display:block;
  }

  .topnav li ul li {
    position:relative;
  }

  .topnav li ul li ul {
    top:0px;
  }
  